#Print functions

In [12]:
print("my name is nidiginti trivikram prasad")

my name is nidiginti trivikram prasad

In [13]:
print('my name is nidiginti trivikram prasad')

my name is nidiginti trivikram prasad

In [7]:
print('nidiginti' + 'trivikram'+ 'prasad') # joining of two staements,

nidigintitrivikramprasad

In [8]:
print('nidiginti ' + 'trivikram '+ 'prasad')#for space

nidiginti trivikram prasad

#**Basic data types**


1.   Int 
2.   Float

1.   String(str)

In [9]:
print('nidiginti ' + 'trivikram '+ 'prasad')
type('nidiginti ' + 'trivikram '+ 'prasad')

nidiginti trivikram prasad

str

Programming Languages used for Machine Learning:


1.   Python
2.   R

#Constants & Variables

In [15]:
x = "nidiginti trivikram prasad"
print(x)

nidiginti trivikram prasad

In [16]:
a , b, c = "nidiginti" , "trivikram" , "prasad"
print(a)
print(b)
print(c)

nidiginti
trivikram
prasad

In [17]:
x = y = z = 45
print(x)
print(y)
print(z)

45
45
45

# input Function

In [18]:
n1 = int(input("Enter the first number : "))
n2 = int(input("Enter the second number : "))

sum = n1 + n2
print(sum)

Enter the first number : 15
Enter the second number : 45
60

In [21]:
# changing the data type in python:
num = 5
type(num)
n=float(num)
type(n)

float

#Basic Data Types in Python:
1. Integer
2. Floating Point
3. Complex
4. Boolean
5. String

In [142]:
# integers
a = 85
print(a)

85

In [143]:
type(a)

int

In [144]:
# floating point
b = 2.3
print(b)
type(b)

2.3

float

In [145]:
# complex numbers
c = 1 + 3j
print(c)
type(c)

(1+3j)

complex

Conversion of one data type to another

In [146]:
# int to float
x = 10
print(x)
type(x)

10

int

In [147]:
y = float(x)
print(y)
type(y)

10.0

float

In [148]:
# float to int
x = 5.88
print(x)
type(x)

5.88

float

In [149]:
y = int(x)
print(y)
type(y)

5

int

Boolean

1. True
2. False

In [150]:
a = True
print(a)
type(a)

True

bool

In [151]:
b = False
print(b)
type(b)

False

bool

In [152]:
a = 70 < 30
print(a)
type(a)

False

bool

In [153]:
a = 70> 30
print(a)
type(a)

True

bool

String

In [154]:
my_string = "trivikram"
print(my_string)
type(my_string)

trivikram

str

In [155]:
print("Hello"*5)

HelloHelloHelloHelloHello

In [156]:
print("Hello "*50)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

Slicing and indexing operations on a string, Remember index always start from zero, and also space is also considered as a character only

In [157]:
my_string = "TRIVIKRAM"

In [158]:
print(my_string)

TRIVIKRAM

In [159]:
print(my_string[7])

A

In [160]:
print(my_string[1:5])    # values from index 1 to 5-1 will be sliced, STARTS FROM 0 .....

RIVI

In [161]:
# step
print(my_string[0:8:1])
print(my_string[0:8:2])
print(my_string[0:8:3])

TRIVIKRA
TIIR
TVR

In [162]:
d="TRIVIKRAM"

In [163]:
d[0:3:1]   #1 is optional (because by default step size (is 1 and sclicing order is also forward
d[0:5:2]    #here jump size is 2
d[0:100:-1]    #Actually here we are sclicing in te forward direction but given the jump size in the negative direction dur ==e to which a concflict occurs, so we ca't get the value 
d[-1:-4]  #again here we are sclicing in the backward direction but the jump is default in the positive directiion (i.e 1)
d[:9]   #by default start index is zero
d[:-2]    #here start is zero but the end is -2 that means it should exclude -2 (upper bound exclude) by considering upto -3
d[-2:]
d[::-1]    #complete reverse of  a string
d[-5:5]  #here we started with -5 but end with postive which makes a conflict because we have our jump direction as a positive
d[-5:5:-1]

''

In [164]:
print(d[-1:-4] )
print(d[:-2])
print(d[-2:])
print(d[::-1]) #complete reverse of  a string
print(d[-5:5])
print(d[-5:5:-1])
print(d[5])

TRIVIKR
AM
MARKIVIRT
I

K

In [165]:
d= "trivikram"
d.upper() #convert to upper case
d=d.upper()
print(d)

TRIVIKRAM

In [166]:
d.lower()   #lower case

'trivikram'

In [167]:
d.swapcase()    #convert lower to upper and upper to lower

'trivikram'

In [168]:
e ="my name is nidiginti trivikram prasad"
e.title()   #captialize the First letter in each word

'My Name Is Nidiginti Trivikram Prasad'

In [169]:
f= 'trivikram'
g= 'prasad'
f.join(g)     #after every character of the second string it will try to add the first string

'ptrivikramrtrivikramatrivikramstrivikramatrivikramd'

In [170]:
" ". join(g)   # space is add to every letter

'p r a s a d'

In [171]:

d.find("r")  #find function only gives the index of first occureance in the string

-1

In [172]:
x= "     trivikram     "
x.strip()    #reomoves the white space before and after also

'trivikram'

In [173]:
y= "prasad     "
y.rstrip()    #rstrip is used to remove the trailing unnesecarry space

'prasad'

In [174]:
z= "    prasad"
z.lstrip()     #lstrip is used to remove the leading unnesecarry space

'prasad'

In [175]:
f.replace("i", "g")    #replace is used to replace a character with another character

'trgvgkram'

In [176]:
f.replace("z", "g")   #since t is not available in the string, nothing can be done

'trivikram'

In [177]:
"trivikram\tprasad".expandtabs()    #expands the strig by giving the tab space where \t will be present

'trivikram       prasad'

In [178]:
s= "trivikram"
s.center(40, 'k')    #centers the string with equal space before and after where the given character is placed

'kkkkkkkkkkkkkkktrivikramkkkkkkkkkkkkkkkk'

In [179]:
s.isalpha()    #press tab after typing is for more no of functions

True

In [180]:
k='     '
k.isspace()   #Only return True if entire string is a space

True

In [181]:
p="5555555"
p.isdigit() #Only return True if entire string is a numbers

True

In [182]:
s.startswith("x")

False

In [183]:
s.istitle()

False

In [184]:
s.encode()

b'trivikram'

In [185]:
d.swapcase()

'trivikram'

String Concatenation

In [186]:
word_1 = 'Machine '
word_2 = 'Learning'

print(word_1+word_2)

Machine Learning

#Types of Objects in Python:
1. Immutable Objects
2. Mutable Objects

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:
1. List
2. Set 
3. Dictionary

**List**

In [203]:
# list should be included in the square brackets
m = [1,2,3,4,5]
print(m)
type(m)

[1, 2, 3, 4, 5]

list

In [188]:
# lists can have multiple data types
m = [2, 3, 1.8, 'trivikram', True]
print(m)

[2, 3, 1.8, 'English', True]

Lists are Mutable --> Changeable

In [202]:
# add elements to a list
m = [2, 3, 1.8, 'trivikram', True]
m.append(6)
print(m)

[2, 3, 1.8, 'trivikram', True, 6]

In [205]:
# print elements of a list using their index
print(m[0])
print(m[2])

1
3

In [207]:
# lists allow duplicate values
l=[1,2,3,4,5,12,2,3]
print(l)

[1, 2, 3, 4, 5, 12, 2, 3]

In [208]:
print(len(l))

8

In [193]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [194]:
list_2.append(5)
print(list_2)

[5]

In [210]:
# delete an item in a list
list_2 = [2, 3, 1.8, 'trivikram', True, 6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'trivikram', True, 6]
[2, 3, 'trivikram', True, 6]

In [211]:
# join two lists
l3 = [1,2,3,4,5]
l4 = [6,7,8,9,10]

list_5 = l3 + l4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [197]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [198]:
# tuple allows multiple data types
tuple_2 = (1,2,3.5, 'Machine Learning', False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [212]:
# converting  a list to a tuple

m = [3,4,5,6]
print(m)

my_tuple = tuple(m)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [200]:
print(my_tuple[0])
print(my_tuple[1])

3
4

Tuples are immutable --> Unchangeable

In [213]:
my_tuple.append(6)

AttributeError: ignored

In [214]:
print(len(my_tuple))

4

Set

In [215]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [216]:
print(my_set[0])

TypeError: ignored

In [217]:
# convert a list to a set
list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [218]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

Dictionary

Key-Value Pair

In [219]:
my_dictionary = {'name':'David','age':30,'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [220]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
India

In [221]:
# dictionary does not allow duplicate values
dictionary_2 = {'name':'David','age':30,'country':'India','name':'David','age':30,'country':'India'}
print(dictionary_2)

{'name': 'David', 'age': 30, 'country': 'India'}

# Operators in Python:
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

1. Arithmetic Operators

In [222]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print('sum = ',sum)

# subtraction
diff = num_1 - num_2
print('difference = ',diff)

# multiplication
pro = num_1 * num_2
print('product = ',pro)

# division
quo = num_1 / num_2
print('quotient = ',quo)

# exponent
exp = num_1**num_2   # 20^10
print('exponent = ',exp)

# modulus
mod = num_1 % num_2
print('reminder = ',mod)

sum =  30
difference =  10
product =  200
quotient =  2.0
exponent =  10240000000000
reminder =  0

2. Assignment Operators

+=

-=

*=

**=

/=

%=

In [223]:
a = 5
print(a)

5

In [224]:
a = 5
a += 5   # a = a + 5
print(a)

10

In [225]:
b = 5
b -= 2   # b = b-2
print(b)

3

3. Comparison Operators

In [226]:
a = 5
b = 10

print(a == b)   # equal to
print(a != b)   # not equal to
print(a > b)    # greater than
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

4. Logical Operators

and

or

not

In [227]:
a = 10

print( a>20 and a>5)
print( a>20 or a>5)
print( not( a>8 and a>5))

False
True
False

5. Identity Operator:

is 

is not

In [228]:
x = 5
y = 5

print(x is y)

True

In [229]:
x = 5
y = 10

print(x is y)

False

In [230]:
x = 5
y = 5

print(x is not y)

False

In [231]:
x = 5
y = 10

print(x is not y)

True

6. Membership Operator:

in 

not in

In [232]:
a = 5
b =10

c = [1,2,3,4,5]
print( a in c)
print( b in c)

True
False

In [233]:
a = 5
b =10

c = [1,2,3,4,5]
print( a not in c)
print( b not in c)

False
True

#simple if else statement

In [ ]:
a = 30
b = 50

if (a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

b is the greatest number

In [ ]:
a = int(input('Enter the first number : '))
b = int(input('Enter the second number : '))

if (a>b):
  print('First number is the greatest')
else:
  print('Second number is the greatest')

Enter the first number : 16
Enter the second number : 20
Second number is the greatest

if elif else statement

In [ ]:
a = 15
b = 25
c = 30

if (b<a>c):
  print('a is the greatest number')
elif (a<b>c):
  print('b is the greatest number')
else:
  print('c is the greatest number')

c is the greatest number

nested if statement

In [ ]:
a = 20
b = 40
c = 60

if (a>b):
  if (a>c):
    print('a is the greatest number')
  else:
    print('c is the greatest number')
else:
  if (b>c):
    print('b is the greatest number')
  else:
    print('c is the greatest number')

c is the greatest number

#For loop

In [234]:
laptop1 = int(input('Enter the price of the laptop : '))
laptop2 = int(input('Enter the price of the laptop : '))
laptop3 = int(input('Enter the price of the laptop : '))
laptop4 = int(input('Enter the price of the laptop : '))
laptop5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 552
Enter the price of the laptop : 54
Enter the price of the laptop : 5151
Enter the price of the laptop : 656151
Enter the price of the laptop : 55151

In [236]:
for i in range(7):    # 0,1,2,3,4,5,6
  laptop_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 515
Enter the price of the laptop : 26
Enter the price of the laptop : 62
Enter the price of the laptop : 26
Enter the price of the laptop : 562
Enter the price of the laptop : 52
Enter the price of the laptop : 561

In [237]:
numbers = [50, 100, 150, 200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [238]:

numbers = [50, 100, 150, 200]

for i in numbers:
  print(i)

50
100
150
200

While Loop

while condition:

    statement

In [239]:
i = 0

while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [241]:
i = 5

while i<3:
  print(i)
  i +=1

#Functions: 

Function is a block of code that can be reused in a Program

Factorial of a Number

Factorial of a number is the product of all the positive integers less than or equal to the given number

Factorial of 5 = 5 x 4 x 3 x 2 x 1 = 120

In [242]:
number = int(input(' Enter a number to find its factorial : '))

factorial = 1

if number == 0:
  print(' The Factorial of 0 is 1')

else:
  for i in range(1, number+1):    
    factorial = factorial*i
  print('The factorial of ',number,' is',factorial)

 Enter a number to find its factorial : 52
The factorial of  52  is 80658175170943878571660636856403766975289505440883277824000000000000

Factoraial Function

In [243]:
def factorial_value(num):

  factorial = 1

  if num == 0:
    return factorial

  else:
    for i in range(1, num+1):
      factorial = factorial*i
    return factorial

In [244]:
print(factorial_value(5))

120

In [245]:
print(factorial_value(10))

3628800

In [246]:
print(factorial_value(6))

720